<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <title>百度新闻</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-l">
                <div class="baidu-btn new-toolbar-btn"></div>
                <div class="user-btn new-toolbar-btn"></div>
            </div>
            <div class="header-r">
                <div class="research-btn new-toolbar-btn"></div>
                <div class="subscribe-btn new-toolbar-btn"></div>
            </div>
        </div>
        <div class="index-content">
            <div class="index-navigator">
                <ul class="menu">
                    <li class="menu-item" data-type="1"><b class="left"></b><span class="cur first">推荐</span></li>
                    <li class="menu-item" data-type="2"><b class="left"></b><span class="cur">百家</span></li>
                    <li class="menu-item" data-type="3"><b class="left"></b><span class="cur">本地</span></li>
                    <li class="menu-item" data-type="4"><b class="left"></b><span class="cur">图片</span></li>
                    <li class="menu-item" data-type="5"><b class="left"></b><span class="cur">娱乐</span></li>
                    <li class="menu-item" data-type="6"><b class="left"></b><span class="cur">社会</span></li>
                    <li class="menu-item" data-type="7"><b class="left"></b><span class="cur">军事</span></li>
                    <li class="menu-item" data-type="8"><b class="left"></b><span class="cur">女人</span></li>
                    <li class="menu-item" data-type="9"><b class="left"></b><span class="cur">搞笑</span></li>
                    <li class="menu-item" data-type="10"><b class="left"></b><span class="cur">科技</span></li>
                </ul>
            </div>
            <div class="index-sections">
                <div class="topic-gallery">
                  <div class="wrapper">
                    <div class="inner-box">

                        <img src="./images/g1.jpg">
                        <h4>湖南抢险“敢死队”：开卡车冲向溃口</h4>
                    </div>
                    <div class="inner-box">

                        <img src="./images/g2.jpg">
                        <h4>大量内地垃圾冲上香港海滩特首带头捡</h4>
                    </div>
                    <div class="inner-box">

                        <img src="./images/g3.jpg">
                        <h4>警方破获吸贩毒团伙案 “公主”指认现场</h4>
                    </div>
                  </div> 
                    <div class="slidder-icons">
                    <i class="blue"></i>
                    <i></i>
                    <i></i>
                    </div>
                </div>
                <div class="hot-topics">
                    <div class="hot-left">热点</div>
                    <ul class="hot-content">
                        <li>
                            <span>空军原政委田修思被查</span>
                            <b class="arrow-r"></b>
                        </li>
                        <li>
                            <span>敢死队开卡车冲向决口处</span>
                            <b class="arrow-r"></b>
                        </li>
                        <li>
                            <span>欧洲杯葡萄牙夺冠</span>
                            <b class="arrow-r"></b>
                        </li>
                        <li>
                            <span>最强台风尼伯特</span>
                            <b class="arrow-r"></b>
                        </li>
                        <li>
                            <span>科学家发现拥有3个太阳的行星</span>
                            <b class="arrow-r"></b>
                        </li>
                    </ul>
                </div>
                <!--  -->
                <div class="news-subpage">
                    <div class="index-list">
                        <div class="list-item">
                            <div class="list-image">
                                <i class="video-play"></i>
                                <img src="./images/l1.jpg">
                            </div>
                            <div class="list-text">
                                <div class="text-title">
                                    <span>习近平2016年上半年调研凸显改革创新两大主线</span>
                                </div>
                            </div>
                            <div class="list-btm">
                                <div class="btm-box">
                                    <span class="btm-btn">置顶</span>
                                    <span>5小时前</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-image">
                                <i class="video-play"></i>
                                <img src="./images/dm.jpg">
                            </div>
                            <div class="list-text">
                                <div class="text-title">
                                    <span>男子专偷医生多次坐牢:医生较富有 医院人多易逃</span>
                                </div>
                            </div>
                            <div class="list-btm">
                                <div class="btm-box">
                                    <span class="btm-btn">网易要闻</span>
                                    <span>5小时前</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-image">
                                <i class="video-play"></i>
                                <img src="./images/clo.jpg">
                            </div>
                            <div class="list-text">
                                <div class="text-title">
                                    <span>欧洲杯无弱旅 各路黑马总有一个打动你</span>
                                </div>
                            </div>
                            <div class="list-btm">
                                <div class="btm-box">
                                    <span class="btm-btn">置顶</span>
                                    <span>5小时前</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-title">
                                <span>周杰伦唱歌祝福女儿生日 昆凌感动欲落泪</span>
                            </div>
                            <div class="list-images">
                                <div class="album">
                                    <div class="album-one imgs">
                                        <img src="./images/zj.jpg">
                                    </div>
                                </div>
                                <div class="album">
                                    <div class="album-two imgs">
                                        <img src="./images/zj.jpg">
                                    </div>
                                </div>
                                <div class="album ">
                                    <div class="album-three imgs">
                                        <img src="./images/zj.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="list-btm">
                                <span>1天前</span>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-title">
                                <span>周杰伦唱歌祝福女儿生日 昆凌感动欲落泪</span>
                            </div>
                            <div class="list-images">
                                <div class="album">
                                    <div class="album-one imgs">
                                        <img src="./images/hb.jpg">
                                    </div>
                                </div>
                                <div class="album">
                                    <div class="album-two imgs">
                                        <img src="./images/hb.jpg">
                                    </div>
                                </div>
                                <div class="album ">
                                    <div class="album-three imgs">
                                        <img src="./images/hb.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="list-btm">
                                <span>1天前</span>
                            </div>
                        </div>
                    <div class="refresh">
                        <div class="refresh-btn">
                            <span>点击加载更多</span>
                        </div>
                    </div>
                </div>
                <!-- news-subpage ends -->
            </div>
            <!--  index-section ends-->
        </div>
        <!-- index-content ends -->
    </div>

    <script data-main="/js/main" src="/js/require.js"></script>
</body>

</html>